.RecentPostContainer {
    width: 100%;
}

.Post1Container {
    position: relative;
    text-align: center;
    color: white;
}
.Post1Meta {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: white;
    font-size: large;
    font-weight: bold;
}
.RecentPostCard {
    width: 100%;
}
.PostSmallImage {
    max-height: 80px;
}
.ant-skeleton-content .ant-skeleton-title {
    margin-top: 0 !important;
}
.PostContainerRow {
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.SkeletonImage {
    max-height: 80px;
    max-width: 80px;
}